@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Pragati+Narrow&display=swap');

/* * {
    border: 1px solid red;
} */

html {
    border: none;
}

body {
    color: rgb(59, 58, 57);
    height: 850px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(59, 58, 57);
}

.quiz, .start, .final {
    margin: 0 auto;
    padding: 25px;
    width: 600px;
    height: 850px;
    max-height: 850px;
    position: relative;
    background-color: rgb(255, 240, 198);
    border: 8px solid rgb(221, 180, 90);
    border-radius: 15px;
    justify-content: space-around;
    
}

.startTrivia {
    height: 670px;
    justify-content: space-evenly;
}

.questionsHeader {
    height: 245px;
}

.question {
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: rgb(238, 213, 175);
    border: 5px solid rgb(221, 180, 90);
    border-radius: 10px;
}

.question {
    height: 90px;
    line-height: 35px;
    background-color: rgb(212, 186, 147);
    border-color: rgb(168, 143, 95);
}

.choices {
    margin-top: 20px;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}

.description, .description2 {
    /* margin: 10px; */
    width: 580px;
    height: 500px;
    font-size: 45px;
    font-family: 'Pragati Narrow', sans-serif;
    background-color: rgb(212, 186, 147);
    border: 5px solid rgb(221, 180, 90);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description2 {
    height: 380px;
}

p {
    margin: 10px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.a1, .a2, .a3, .a4{
    color: rgb(59, 58, 57);
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 25px;
    width: 250px;
    height: 150px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 206, 255);
    cursor: pointer;
}

.a1:hover, .a2:hover, .a3:hover, .a4:hover {
    background-color: rgb(197, 225, 252);
}

.a1:active, .a2:active, .a3:active, .a4:active {
    background-color: rgb(128, 193, 253);
}

.a1:focus, .a2:focus, .a3:focus, .a4:focus {
    /* color: white; */
    outline: none;
    background-color: rgb(73, 167, 255);
}

.a1, .a3 {
    margin-right: 10px;
}

.a2, .a4 {
    margin-left: 10px;
}


h2, h3, span {
    font-family: 'Cinzel', serif;
    font-size: 55px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.buttonSection {
    padding: 40px;
}

.startButton, .nextButton, .submitButton, .replayButton {
    font-family: 'Cinzel', serif;
    font-size: 55px;
    color: rgb(59, 58, 57);
    border: none;
    border-radius: 50px;
    outline: none;
    width: 500px;
    margin: 0 auto;
    /* margin-top: 40px; */
    background: rgb(235, 212, 137);
    box-shadow: 0 9px rgb(197, 167, 110);
}

.startButton:hover, .nextButton:hover, .submitButton:hover, .replayButton:hover {
    background-color:rgb(255, 226, 167);
}

.startButton:active, .nextButton:active, .submitButton:active, .replayButton:active {
    background-color: rgb(202, 174, 122);
    box-shadow: 0 5px rgb(197, 167, 110);
    transform: translateY(4px);
}

h3 {
    font-size: 35px;
    border-radius: 5px;
    background-color: rgb(235, 212, 137);
}

span {
    font-size: 30px;
    padding: 5px;
    line-height: 20px;
}





@media screen and (max-device-width: 430px) {

    body {
        height: 180vh;
        width: 173vw;
    }

    .start, .quiz, .final {
        width: 160vw;
        height: 400vh;
        max-height: 178vh;
        padding: 5px;
    }

    .final {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .startTrivia {
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: 140vh;
    }

    .description, .description2 {
        height: 110vh;
        width: 150vw;
        padding: 10px; 
    }

    .description2 {
        height: 105vh;
        width: 148vw;
    }

    .choices {
        margin: 10px auto;
        height: 105vh;
        width: 158vw;
    }

    .a1, .a2, .a3, .a4 {
        height: 300px;
        margin: 0 auto;
    }

    .buttonSection {
        padding: 0;
    }

    .startButton {
        margin-top: 20px;
    }

    .nextButton {
        margin-top: 20px;
    }

    .replayButton {
        margin-top: 20px;
    }

    .startButton, .nextButton, .submitButton, .replayButton {
        /* margin: 10px; */
        height: 19vh;
        border-radius: 100px;
        justify-content: space-evenly;
        padding: 3px;
    }

    .submitButton {
        margin-top: 10px;
    }


}


@media screen and (max-width: 780px) {

}
