@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    border: 1px solid red;
}

html {
    border: none;
}

body {
    height: 850px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.quiz, .start, .final {
    margin: 0 auto;
    padding: 25px;
    width: 600px;
    height: 850px;
    max-height: 1000px;
    position: relative;
}

#startTrivia {
    height: 670px;
    justify-content: space-evenly;
}

#questions {
    height: 240px;
    justify-content: space-evenly;
    align-items: center;
}

#score {
    padding: 5px;
    height: 70px;
}

#choices {
    height: 350px;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

#description, #description2 {
    /* margin: 10px; */
    width: 580px;
    height: 500px;
    font-size: 35px;
}

#description2 {
    height: 430px;
}

p {
    margin: 10px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

#a1, #a3 {
    margin-right: 2px;
}

#a2, #a4 {
    margin-left: 2px;
}


h2, h3, span {
    font-family: 'Cinzel', serif;
    font-size: 55px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#start, #next, #replay {
    border-radius: 50px;
    width: 500px;
    margin: 0 auto;
    /* margin-top: 40px; */
    background: rgb(235, 212, 137);
}

#startButton {
    padding: 40px;
}

#nextButton {
    padding: 40px;
}

#replayButton {
    padding: 40px;
}

h3 {
    font-size: 35px;
}

span {
    font-size: 30px;
    padding: 5px;
    line-height: 20px;
}





@media screen and (max-device-width: 430px) {

    body {
        height: 180vh;
        width: 173vw;
    }

    .start, .quiz, .final {
        width: 160vw;
        height: 400vh;
        max-height: 178vh;
        padding: 5px;
    }

    #startTrivia {
        /* align-items: center; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 20px;
        height: 150vh;
    }

    #description, #description2 {
        height: 120vh;
        width: 150vw;
        padding: 10px; 
    }
    #description {
        width: 140vw;
    }
    #description2 {
        height: 122vh;
    }

    #choices {
        margin: 10px auto;
        height: 110vh;
        width: 158vw;
    }

    #a1, #a2, #a3, #a4 {
        height: 300px;
        margin: 0 auto;
    }

    #start {
        margin-top: 20px;
    }

    #next {
        margin-top: 20px;
    }

    #replay {
        margin-top: 20px;
    }

    #startButton, #nextButton, #replayButton {
        margin: 10px;
        height: 19vh;
        justify-content: space-evenly;
        padding: 3px;
    }


}


@media screen and (max-width: 780px) {

}
