@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

* {
    border: 1px solid red !important;
    margin: 0 auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 1000px;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.quiz, .start, .final {
    padding: 25px;
    width: 700px;
    height: 1000px;
    max-height: 1000px;
}

#questions {
    padding: 20px;
    height: 220px;
    justify-content: space-evenly;
    align-items: center;
}

#choices {
    height: 580px;
    width: 697px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
}

#description, #description2 {
    width: 650px;
    height: 400px;
    font-size: 35px;
}

p {
    margin: 20px;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}


h2, h3, span {
    font-family: 'Cinzel', serif;
    font-size: 55px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#start, #replay {
    border-radius: 50px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
}

h3 {
    font-size: 35px;
}

span {
    font-size: 30px;
    padding: 5px;
    line-height: 20px;
}
